.card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cardImage {
  height: 195px;
  align-self: center;
}
